.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
  line-height: 1.5;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #2e212e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.AddTaskForm {
  margin-bottom: 20px;
}

.TaskList {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.task {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.task-title {
  font-weight: bold;
}

.task-description {
  margin-top: 5px;
  color: #666666;
}

.delete-button {
  background: red;
  margin-left: 15px;
  color: #ffffff;
  cursor: pointer;
}
